* {
  border: none;
  border-radius: 10px;
  padding: 10px;
  overflow-y: hidden;
}

.formControll {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 300px;
  height: 250px;
  box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.25);
  outline: 1px solid silver;
}

button {
  padding: 10px;
  background-color: rgb(116, 222, 99);
  color: rgb(252, 252, 252);
}

#resultArea {
  opacity: 0;
  font-size: xx-large;
  transition: opacity 1s ease;
}
